In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv("Desktop/Workspace/onecount_70.tsv",sep='\t')

In [ ]:
max_elements = df.max(axis=1)

In [ ]:
min_elements = df.min(axis=1)

In [ ]:
diff = max_elements - min_elements

In [ ]:
df['diff'] = diff

In [42]:
df.sort_values(by='diff',ascending=False)

,Desc,Orthogroup,Acacia_argyrophylla,Adiantum_raddianum,Agave_tequilana,Amborella_trichopoda,Anemia_tomentosa,Araucaria_rulei,Aristolochia_elegans,Asparagus_densiflorus,...,Nothoceros_vincentianus,Nothotsuga_longibracteata,Nuphar_advena,Onoclea_sensibilis,Ophioglossum_petiolatum,Osmunda_javanica,Osmundastrum_cinnamomeum,Picea_engelmannii,Pinus_radiata,diff
5,(null),OG0000009,33,25,30,29,36,32,10,26,...,24,36,20,11,22,11,15,51,51,135
2,(null),OG0000005,134,14,89,29,8,54,55,27,...,5,66,34,7,7,27,21,36,42,133
0,(null),OG0000002,66,28,63,30,41,49,34,43,...,44,64,37,8,60,27,28,59,46,127
1,(null),OG0000004,68,45,74,28,37,61,32,37,...,13,61,16,4,31,46,34,57,61,116
3,(null),OG0000006,41,35,44,18,38,35,29,32,...,19,29,24,18,20,49,36,26,30,91
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87,(null),OG0001049,4,2,5,3,2,4,3,7,...,2,3,4,2,4,3,2,3,3,6
85,(null),OG0000792,2,7,5,3,4,2,2,7,...,2,2,3,3,5,3,2,2,3,5
88,(null),OG0001146,4,3,4,2,2,2,2,7,...,5,2,2,2,4,2,2,2,2,5
89,(null),OG0001203,3,4,5,2,5,3,2,5,...,2,3,4,3,5,3,2,2,2,4
90,(null),OG0001251,2,3,3,2,2,2,2,2,...,3,2,4,3,4,2,2,2,2,4

In [43]:
df1 = df[df['diff'] <=40]

In [44]:
df1

,Desc,Orthogroup,Acacia_argyrophylla,Adiantum_raddianum,Agave_tequilana,Amborella_trichopoda,Anemia_tomentosa,Araucaria_rulei,Aristolochia_elegans,Asparagus_densiflorus,...,Nothoceros_vincentianus,Nothotsuga_longibracteata,Nuphar_advena,Onoclea_sensibilis,Ophioglossum_petiolatum,Osmunda_javanica,Osmundastrum_cinnamomeum,Picea_engelmannii,Pinus_radiata,diff
11,(null),OG0000022,28,18,24,17,25,30,17,17,...,4,8,19,3,11,7,7,20,27,40
15,(null),OG0000030,24,21,26,17,15,18,15,18,...,8,14,18,13,21,18,20,20,14,33
16,(null),OG0000031,29,19,43,13,17,21,13,23,...,5,14,22,12,12,10,10,15,28,40
17,(null),OG0000032,27,22,25,12,14,22,12,21,...,7,15,18,5,17,9,9,13,19,37
20,(null),OG0000035,22,24,22,10,16,26,16,17,...,3,18,12,10,28,9,10,23,23,33
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,(null),OG0000829,3,3,4,3,6,3,3,4,...,3,3,3,5,5,2,2,3,4,7
87,(null),OG0001049,4,2,5,3,2,4,3,7,...,2,3,4,2,4,3,2,3,3,6
88,(null),OG0001146,4,3,4,2,2,2,2,7,...,5,2,2,2,4,2,2,2,2,5
89,(null),OG0001203,3,4,5,2,5,3,2,5,...,2,3,4,3,5,3,2,2,2,4
90,(null),OG0001251,2,3,3,2,2,2,2,2,...,3,2,4,3,4,2,2,2,2,4

In [45]:
df1.to_csv('threshold_40_species_70.tsv',sep='\t')